.posts{
    text-align: left;
    margin: 2rem;
    font-weight: 500;
    padding: 1rem;
}
.post-item{
    margin: 2rem 2rem;
    padding: 1rem;
}
.post-item h2{
    color: #eeb5b5;
}
.post-item:hover{
    box-shadow: 1px 1px 10px 1px #ebd0d0;
}
button{
    margin: 0.5rem;
    color: black;
}
.date{
    font-style:oblique;
    color: #888585;
}